.App {
  display: flex; 
  flex-direction: column;
  max-width: 100vw; 
  min-height: 100vh;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
  background-color: var(--color1);
  color: var(--text);
}

.App-link {
  color: #61dafb;
}
